<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Service Poller</title>
</head>
<body>
<header th:fragment="header" class="d-flex justify-content-between bg-secondary text-light">
    <h2><a th:href="@{/}" class="text-light text-decoration-none"> Service Poller</a></h2>
    <div class='user-container d-flex justify-content-between w-15' sec:authorize="isAnonymous()">
        <a id="loginBtn" class="btn btn-info text-light" th:href="@{/login}">Login</a>
    </div>
    <div class='user-container d-flex justify-content-between w-15' sec:authorize="isAuthenticated()">
        <a id="logoutBtn" class="btn btn-info text-light" th:href="@{/logout}">Logout</a>
    </div>
</header>
</body>
</html>
