<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main th:fragment="login">
    <div class="d-flex flex-column justify-content-center">
        <h2 class="text-center">Login</h2>
        <p th:if="${registerSuccess}" class="alert alert-success">Successful registration!</p>
        <div class="w-30 d-flex justify-content-center mx-auto">
            <form action="" method="POST" th:action="@{/login}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </div>
            </form>
        </div>
        <div class="mx-auto mt-3 d-flex flex-column">
            <p>You don't have an account yet?</p>
            <a id="registerBtn" class="btn btn-info text-light" th:href="@{/register}">Register</a>
        </div>
    </div>
</main>
</body>
</html>
